#mailnova-ai-button
{

            position:fixed;
            right:30px;
            bottom:40px;
            width:70px;
            height:70px;

            border-radius:50%;
            
            background:linear-gradient(135deg,#6C63FF,#4F8CFF);
            display:flex;
            justify-content:center;
            align-items:center;
            font-size:32px;
            cursor:pointer;
            z-index:999999999;

            color:white;
            box-shadow:
            0 12px 35px rgba(79,140,255,.45);

            transition:.3s;

            user-select:none;
}

#mailnova-ai-button:hover
{

    transform:scale(1.08);

    box-shadow:
    0 15px 45px rgba(79,140,255,.65);
}

.mailnova-badge
{

    position :absolute;

    top :-5px;

    right : -3px;


    background : #ff3b30;

    color : white ;

    width:24px;

    height:24px;


    border-radius:50%;

    display:flex;
    justify-content:center;

    align-items:center;

    font-size:12px;

    font-weight:bold;

    border:2px solid white;
}

